@import "tailwindcss";

/* Satoshi font */
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Stop overscroll bounce (vigtigt til hero sektionen!) */
html, body {
  overscroll-behavior-y: none;
}

:root {
  color-scheme: light;
}

body {
  background-color: #fdfbf7;
  color: #171717;            /* neutral-900-ish */
  font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-weight: 700;
}

p {
  font-weight: 400;
  line-height: 1.6;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

.underline-btn {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
}

.underline-btn::after {
   content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid currentColor;
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 0.2s ease-out,
        transform 2s ease-out;
}

.underline-btn::before {
   content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid currentColor;

   
    transition:
        width 0.8s cubic-bezier(0.28, 0.84, 0.42, 1),
        opacity 0.50s ease-out;

    opacity: 0; 
}

.underline-btn:hover::after{
  opacity: 0;
}

.underline-btn:hover::before {
 width: 100%;
    opacity: 1;
    transition-delay: 0.08s; 
}

.cart-btn {
   border: 1px solid transparent;
   transition:
        background-color 0.4s ease,
        box-shadow 0.4s ease;
}

.cart-btn:hover {
  background-color:transparent;
  color: black;
  border: 1px solid;
}

.size-btn {
   transition:
        background-color 0.4s ease,
        box-shadow 0.4s ease;
}

.size-btn:hover {
  background-color:transparent;
  color: black;
  border: 1px solid;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d1d1d1;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #39516A;
  width: 16px;
  border-radius: 8px;
}

.swiper-slide {
  height: auto !important;
}

/* Animation til Scent lab flow */
@keyframes fade {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.35s ease forwards;
}