/* SIDEN SKAL FYLDE HELE VIEWPORT */
.summary-scroll-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: grab;
  transform-origin: center center;
  scroll-behavior: auto;
}

.summary-scroll-container::-webkit-scrollbar {
  display: none;
}

.summary-scroll-container:active {
  cursor: grabbing;
}

/* DET STORE CANVAS */
.summary-canvas {
  position: relative;
  width: 200vw;
  height: 320vh;
  background: #f9f7f5;
  transition: transform 0.8s ease; 
  transform-origin: center center;
}
.canvas-outer{
    width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: #f9f7f5;
}


/* SMÅ MODULER PÅ CANVAS */
.module {
  position: absolute;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
